header {
    text-align: center;
    padding: 10px;
    font-family: Helvetica;
    font-size: xxx-large;
    background:rgba(255,255,255,0.6);
    transition:background 1.5s ease;
    position:relative;
   z-index:99;
}

header.header-sticky{
    background:#fff;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:999;
}

header.header-slider{
    margin-top:-50px;
}

p {
    position: absolute;
    margin-top: 150;
    margin-left: 400;
    border-style: solid;
    border-color: #a1c236;
    background-color: #3670c2;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

.p1 {
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 200;
    margin-left: 100;
    font-size: x-large;
}

.p2 {
    font-style: oblique;
    font-family: Helvetica;
    position: absolute;
    margin-top: 250;
    margin-left: 70;
    font-size: xxx-large;
    padding: 1rem;
    border-width: 4px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        rgb(74, 1, 96), 
        rgba(0, 0, 0, 0)
      ) 1 100%;
}

.p3 {
    font-style: oblique;
    font-family: Garamond;
    position: absolute;
    margin-top: 400;
    margin-left: 150;
    font-size: x-large;
}

.p4 {
    font-style: oblique;
    font-family: Garamond;
    position: absolute;
    margin-top: 400;
    margin-left: 400;
    font-size: x-large;
}

.p5 {
    font-style: oblique;
    font-family: Helvetica;
    position: absolute;
    font-size: Small;
    margin-top: 480;
    margin-left: 150;
}

.p6 {
    font-style: oblique;
    font-family: Helvetica;
    position: absolute;
    font-size: small;
    margin-top: 480;
    margin-left: 400;
}

.p7 {
    margin-top: 0;
    margin-left: 0;
}

.pic {
    margin-left: 100;
    margin-top: 130;
    position: absolute;
    width: 250;
    height: 250;
}

.list {
    white-space: nowrap;
    position: absolute;
    right: 800px;
    width: 300px;
    padding: 10px;
    font-family: Helvetica;
    font-size: xxx-large;
    font-weight: 900;
    text-align: center;
}

.All-Applications {
    margin-left: 100;
    margin-top: -200;
    position: absolute;
    font-size: xxx-large;
    font-weight: 900;
    font-family: Helvetica;
    text-align: center;
    padding: 350px;
}


h1 {
    white-space: nowrap;
    position: absolute;
    text-align: center;
    width: 300px;
    padding: 10px;
    font-family: Helvetica;
    margin-left: 450;
}

h2 {
    margin-top: 225;
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: #3670c2;
    background-color: #3670c2;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

h3 {
    margin-top: 310;
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: #a1c236;
    background-color: #3670c2;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

h4 {
    margin-top: 400;
    margin-left: 400;
    border-color: aliceblue;
    background-color: aliceblue;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-style: groove;
    border-width: 6px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5 {
    position: absolute;
    margin-top: 290;
    margin-left: 800;
    border-style: solid;
    border-color: #3670c2;
    background-color: #3670c2;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

h6 {
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: aliceblue;
    background-color: aliceblue;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

h7 {
    position: absolute;
    margin-top: 100;
    margin-left: 400;
    border-radius: 10px;
    font-family: Helvetica;
    font-weight: bold;
    padding: 1rem;
    border-width: 4px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        rgb(74, 1, 96), 
        rgba(0, 0, 0, 0)
      ) 1 100%;
}


h8 {
    position: absolute;
    margin-top: 200;
    margin-left: 400;
    border-radius: 10px;
    font-family: Helvetica;
    font-weight: bold;
    padding: 1rem;
    border-width: 4px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        rgb(74, 1, 96), 
        rgba(0, 0, 0, 0)
      ) 1 100%;
}

h9 {
    position: absolute;
    margin-top: 50;
    margin-left: 5;
    background-color: lavender;
    border-radius: 10px;
    font-family: Helvetica;
    font-weight: bold;
}

img {
    margin-left: 100;
    margin-top: 130;
    position: absolute;
    border: 2px solid #000000;
    border-radius: 15px 50px;
    background: linear-gradient(to bottom right, rgb(93, 223, 223), #3670c2);
    padding: 20px;
    width: 200px;
    height: 200px;
}

.logo {
    background: url("");
    width: 335;
    height: 230;
    margin-top: -100;
    margin-left: 450;
  }


.name {
    margin-top: 150;
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: #3670c2;
    background-color: #3670c2;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

select {
    text-align: center;
    border-style: none;
    background-color: #3670c2;
    font-family: Helvetica;
}


body {
    background: url("https://i.postimg.cc/c1wv5Cvn/leone-venter-Vie-M9-Bd-ZKFo-unsplash-1.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1600px 900px;
}

.btn {
    background: linear-gradient(to right, rgb(138, 92, 245), rgb(22, 20, 20));
    max-width: 250px;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 20px;
    border-style: linear-gradient(to right, rgb(138, 92, 245), rgb(22, 20, 20));
    border-width: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

/* Style The Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3670c2;
    display: inline-block;
    width: 150px;
    border-color: #3670c2;
    padding: 10px 20px;
    font-size: 20px;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
    max-height:150px; 
    overflow-x:hidden; 
    overflow-y:auto;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
display: inline-block;
position: fixed;
z-index: 1000;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
text-align: center;
background-color: #3670c2;
min-width: 160px;
box-shadow: none;
box-sizing: border-box;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
font-size: small;
font-weight: 700;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    border-left: 3px solid blue;
}


body {
    height:100vh;
    width:100vw;
    background-color:rgb(148, 175, 227);
    overflow:hidden;
    font-family: Lato, "Trebuchet MS", "Verdana", "sans-serif";
  }

.hbtn {
background-color: DodgerBlue;
border: none;
color: white;
padding: 12px 16px;
font-size: 16px;
cursor: pointer;
}

/* Darker background on mouse-over */
.hbtn:hover {
background-color: RoyalBlue;
}