header {
    text-align: center;
    padding: 10px;
    font-family: Garamond;
    font-size: xxx-large;
    background:rgba(255,255,255,0.6);
    transition:background 1.5s ease;
    position:relative;
    z-index:99;
}

header.header-sticky{
    background:#fff;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:999;
}

header.header-slider{
    margin-top:-50px;
}

p {
    position: absolute;
    margin-top: 100;
    font-family: Helvetica;
    font-weight: bold;
    font-size: large;
    padding: 1rem;
    border-radius: 5px;
    border-width: 4px;
    border-style: groove;
    border-image: 
      linear-gradient(
        to bottom, 
        rgb(74, 1, 96), 
        rgba(0, 0, 0, 0)
      ) 1 100%;
}

body {
  background: url("https://i.postimg.cc/c1wv5Cvn/leone-venter-Vie-M9-Bd-ZKFo-unsplash-1.jpg");
  background-position: right;
  background-repeat: inherit;
  background-size: 1600px 900px;
  overflow-y: scroll;
}

.p1 {
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 200;
    margin-left: 100;
    font-size: x-large;
}

.p2 {
    font-style: oblique;
    font-family: Helvetica;
    position: absolute;
    margin-top: 250;
    margin-left: 70;
    font-size: xxx-large;
    padding: 1rem;
    border-width: 4px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        rgb(74, 1, 96), 
        rgba(0, 0, 0, 0)
      ) 1 100%;
}

.p3 {
    font-style: oblique;
    font-family: Garamond;
    position: absolute;
    margin-top: 400;
    margin-left: 150;
    font-size: x-large;
}

.p4 {
    font-style: oblique;
    font-family: Garamond;
    position: absolute;
    margin-top: 400;
    margin-left: 400;
    font-size: x-large;
}

.p5 {
    font-style: oblique;
    font-family: Helvetica;
    position: absolute;
    font-size: Small;
    margin-top: 480;
    margin-left: 150;
}

.p6 {
    font-style: oblique;
    font-family: Helvetica;
    position: absolute;
    font-size: small;
    margin-top: 480;
    margin-left: 400;
}

.p7 {
    margin-top: -20;
    float: right!important;
}

h1 {
  white-space: nowrap;
  position: absolute;
  text-align: center;
  width: 300px;
  padding: 91px;
  font-family: Helvetica;
  font-style: oblique;
  margin-top: -130;
}

h2 {
  margin-top: 225;
  position: absolute;
  margin-left: 400;
  border-style: solid;
  border-color: #3670c2;
  background-color: #3670c2;
  border-width: 10px;
  border-radius: 10px;
  font-family: Helvetica;
}

h3 {
  margin-top: 310;
  position: absolute;
  margin-left: 400;
  background-color: #3670c2;
  border-color: #000000;
  border-width: 3px;
  border-radius: 3px;
  font-family: Helvetica;
}

h4 {
  margin-top: 400;
  margin-left: 400;
  border-color: aliceblue;
  background-color: aliceblue;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-style: groove;
  border-width: 6px;
  border-radius: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5 {
  position: absolute;
  margin-top: 290;
  margin-left: 800;
  border-style: solid;
  border-color: #3670c2;
  background-color: #3670c2;
  border-width: 10px;
  border-radius: 10px;
  font-family: Helvetica;
}

h6 {
  position: absolute;
  margin-left: 400;
  border-style: solid;
  border-color: aliceblue;
  background-color: aliceblue;
  border-width: 10px;
  border-radius: 10px;
  font-family: Helvetica;
}

h7 {
  position: absolute;
  margin-top: 100;
  font-family: Helvetica;
  font-weight: bold;
  font-size: large;
  padding: 1rem;
  border-radius: 5px;
  border-width: 4px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(74, 1, 96), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}


h8 {
  position: absolute;
  margin-top: 200;
  margin-left: 400;
  border-radius: 10px;
  font-size: large;
  font-family: Helvetica;
  font-weight: bold;
  padding: 1rem;
  border-width: 4px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(74, 1, 96), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

h9 {
  position: absolute;
  margin-top: 300;
  margin-left: 400;
  border-radius: 10px;
  font-size: large;
  font-family: Helvetica;
  font-weight: bold;
  padding: 1rem;
  border-width: 4px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(74, 1, 96), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

h10 {
  position: absolute;
  margin-top: 400;
  margin-left: 400;
  border-radius: 10px;
  font-family: Helvetica;
  font-weight: bold;
  padding: 1rem;
  border-width: 4px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(74, 1, 96), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

h11 {
  position: absolute;
  margin-top: 50;
  margin-left: 500;
  background-color:  rgb(169 158 158 / 24%);
  border-radius: 10px;
  font-family: Helvetica;
  font-weight: bold;
}

h12 {
position: absolute;
margin-top: 20;
margin-left: 605;
background-color:  rgb(169 158 158 / 24%);
border-radius: 10px;
font-family: Helvetica;
font-weight: var(--shadeDark);
}

h13 {
  position:absolute;
  align-items: center;
}

h14 {
  white-space: nowrap;
  position: absolute;
  text-align: center;
  margin-left: 1300;
  padding: 91px;
  font-family: Helvetica;
  font-style: oblique;
  margin-top: -150
}

h15 {
  white-space: nowrap;
  position: absolute;
  text-align: center;
  margin-left: 1300;
  padding: 91px;
  font-family: Helvetica;
  font-style: oblique;
  margin-top: -150
}

h16 {
  margin-top: 500;
  margin-left: 500;
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name:homedesign;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes homedesign {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


.pic {
    margin-left: 100;
    margin-top: 130;
    position: absolute;
    width: 250;
    height: 250;
}

.list {
    white-space: nowrap;
    position: absolute;
    right: 800px;
    width: 300px;
    padding: 10px;
    font-family: Helvetica;
    font-size: xxx-large;
    font-weight: 900;
    text-align: center;
}

.All-Applications {
  position: absolute;
  margin-top: 10;
  margin-left: 10;
  font-size: xxx-large;
  font-weight: 900;
  font-family: Helvetica;
  text-align: center;
  padding: 5px;
}

img {
    margin-left: 100;
    margin-top: 130;
    position: absolute;
    border: 2px solid #000000;
    border-radius: 15px 50px;
    background: linear-gradient(to bottom right, rgb(95, 163, 241), #341f6a);
    padding: 20px;
    width: 200px;
    height: 200px;
}

.hpage  {
  background: url("https://i.postimg.cc/5NFsHVG0/rTracker.jpg");
  width: 605px;
  height:  433px;
  margin-top: -52px;;
  margin-left:  714px;
  background-repeat: no-repeat;
  border-radius: 121px;
}

.application_details  {
  background: url("https://i.postimg.cc/RVgYRj9n/Applicationdetailpageconcept.jpg");
  background-repeat: no-repeat;
  background-size: 1499px 648px;
  padding: 500;
}

.logo {
    background: url("");
    width: 335;
    height: 230;
    margin-top: -100;
    margin-left: 450;
  }


.name {
    margin-top: 150;
    position: absolute;
    margin-left: 400;
    border-style: solid;
    border-color: #3670c2;
    background-color: #3670c2;
    border-width: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

select {
    text-align: center;
    border-style: none;
    background-color: #3670c2;
    font-family: Helvetica;
}

.btn {
    background: linear-gradient(to right, rgb(138, 92, 245), rgb(22, 20, 20));
    max-width: 250px;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 20px;
    border-style: linear-gradient(to right, rgb(138, 92, 245), rgb(22, 20, 20));
    border-width: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

/* Style The Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3670c2;
    display: inline-block;
    width: 158px;
    border-color: #3670c2;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    font-family: Helvetica;
    max-height:150px; 
    overflow-x:hidden; 
    overflow-y:auto;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
display: inline-block;
z-index: 1000;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
text-align: center;
background-color: #749ed9;
box-shadow: none;
box-sizing: border-box;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
font-size: small;
font-weight: 700;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    border-left: 3px solid blue;
}

.hbtn {
background-color: #704cc2;
border: none;
color: white;
padding: 12px 16px;
font-size: 16px;
cursor: pointer;
float: left;
}

/* Darker background on mouse-over */
.hbtn:hover {
background-color: RoyalBlue;
}

.rbtn {
    font-weight: bold;
    font-size: large;
    float: left;
    margin-top: 400px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    order: 4;
    text-align: center;
    font-size: medium;
    font-weight: initial;
    text-transform: uppercase;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  input[type="submit"]:focus {
    background: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
  }
  
  input[type="submit"]:active {
    background: hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
    transition: all 0.125s;
  }

  input[type="checkbox"] + label span {
    padding-left: 1.25rem;
    position: relative;
  }
  
  input[type="checkbox"] + label span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0.75rem;
    height: 0.75rem;
    border: 1px solid var(--borderDark);
    border-radius: var(--borderRadius);
    transition: all 0.25s;
    outline:1px dashed transparent;
    outline-offset: 2px;
  }
  
  input[type="checkbox"]:checked + label span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 0.375rem;
    height: 0.375rem;
    border: 1px solid var(--borderDark);
    border-radius: var(--borderRadius);
    transition: all 0.25s;
    outline:1px dashed transparent;
    outline-offset: 2px;
    background: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f200;
    padding: 20px;
  }

.tbl-style  {
    background: linear-gradient(56deg, rgb(169 160 191), lavender);
    border-collapse: collapse;
    box-shadow: 0 5px 10px #ccc;
    overflow:hidden;
    font-family: system-ui;
    text-align: center;
    }

    tr {
      box-shadow: 0 5px 10px #ccc;
    }

    th {
      padding: 1rem 2rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 0.7rem;
      font-weight: 900;
    }


.Status {
  border-radius:var(--borderRadius);
  background-color:rgb(236, 224, 57);
  padding: 0.2rem 1rem;
  text-align:center;
}

.Submitted {
  background-color: green;
}


label.docs {
    background-color: rgb(123, 32, 188);
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }

.newentry {
  border: 1px solid var(--border);
  border-radius: var(--borderRadius);
  box-shadow: 0 1rem 1rem -0.75rem var(--border);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  width: 800px;
  margin-left: -270px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.entrybox {
  border: 1px solid var(--border);
  border-radius: var(--borderRadius);
  box-sizing: border-box;
  font-size: 1rem;
  height: 2.25rem;
  line-height: 1.25rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  padding: 0.25rem 30.5rem;
  width: 15rem;
  transition: all 0.25s;
}

.profilepic {
  margin-left: 20;
}

form {
  --background: white;
  --border: rgba(0, 0, 0, 0.125);
  --borderDark: rgba(0, 0, 0, 0.25);
  --borderDarker: rgba(0, 0, 0, 0.5);
  --bgColorH: 0;
  --bgColorS: 0%;
  --bgColorL: 98%;
  --fgColorH: 210;
  --fgColorS: 50%;
  --fgColorL: 38%;
  --shadeDark: 0.3;
  --shadeLight: 0.7;
  --shadeNormal: 0.5;
  --borderRadius: 0.125rem;
  --highlight: #306090;
  background: white;
  border: 1px solid var(--border);
  border-radius: var(--borderRadius);
  box-shadow: 0 1rem 1rem -0.75rem var(--border);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 500px;
  margin-left: 20px;
  border-radius: 5px;
  padding: 20px;
}

form .email, form .email a {
  color: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
  font-size: 0.825rem;
  order: 4;
  text-align: center;
  margin-top: 0.25rem;
  outline: 1px dashed transparent;
  outline-offset: 2px;
  display: inline;
}

form a:hover {
  color: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
  transition: color 0.25s;
}

form a:focus {
  color: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
  outline: 1px dashed hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
  outline-offset: 2px;
}

form > div {
  order: 2;
}

label {
  display: flex;
  flex-direction: column;
}

.label-show-password {
  order: 3;
}

label > span {
  color: var(--borderDarker);
  display: block;
  font-size: 0.825rem;
  margin-top: 0.625rem;
  order: 1;
  transition: all 0.25s;
}

label > span.required::after {
  content: "*";
  color: #dd6666;
  margin-left: 0.125rem;
}

label input {
  order: 2;
  outline: none;
}

label input::placeholder {
  color: var(--borderDark);
}

/* trick from https://css-tricks.com/snippets/css/password-input-bullet-alternatives/ */
label input[name="password"] {
  -webkit-text-security: disc;
}

input[name="show-password"]:checked ~ div label input[name="password"] {
  -webkit-text-security: none;
}

label:hover span {
  color: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
}

input[type="checkbox"] + div label:hover span::before,
label:hover input.text {
  border-color: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
}

label input.text:focus,
label input.text:active {
  border-color:  hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
  box-shadow: 0 1px  hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
}

input.text:focus + span,
input.text:active + span {
  color:  hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
}

/** Checkbox styling */
.a11y-hidden {
  position: absolute;
  top: -1000em;
  left: -1000em;
}

.style1 {
  font-family: "Trirong", serif;
  font-size: 30px;
}

.glow {
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  border-radius: 100%;
}

.glow-1 {
  animation: glow1 4s linear infinite;
}

.glow-2 {
  animation: glow2 4s linear infinite;
  animation-delay: 100ms;
}

.glow-3 {
  animation: glow3 4s linear infinite;
  animation-delay: 200ms;
}

.glow-4 {
  animation: glow4 4s linear infinite;
  animation-delay: 300ms;
}

@keyframes glow1 {
  0% {
    transform: translate(10%, 10%) scale(1);
  }
  25% {
    transform: translate(-10%, 10%) scale(1);
  }
  50% {
    transform: translate(-10%, -10%) scale(1);
  }
  75% {
    transform: translate(10%, -10%) scale(1);
  }
  100% {
    transform: translate(10%, 10%) scale(1);
  }
}

@keyframes glow2 {
  0% {
    transform: translate(-10%, -10%) scale(1);
  }
  25% {
    transform: translate(10%, -10%) scale(1);
  }
  50% {
    transform: translate(10%, 10%) scale(1);
  }
  75% {
    transform: translate(-10%, 10%) scale(1);
  }
  100% {
    transform: translate(-10%, -10%) scale(1);
  }
}

@keyframes glow3 {
  0% {
    transform: translate(-10%, 10%) scale(1);
  }
  25% {
    transform: translate(-10%, -10%) scale(1);
  }
  50% {
    transform: translate(10%, -10%) scale(1);
  }
  75% {
    transform: translate(10%, 10%) scale(1);
  }
  100% {
    transform: translate(-10%, 10%) scale(1);
  }
}

@keyframes glow4 {
  0% {
    transform: translate(10%, -10%) scale(1);
  }
  25% {
    transform: translate(10%, 10%) scale(1);
  }
  50% {
    transform: translate(-10%, 10%) scale(1);
  }
  75% {
    transform: translate(-10%, -10%) scale(1);
  }
  100% {
    transform: translate(10%, -10%) scale(1);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  z-index:99
}

li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background: linear-gradient(to right, rgb(138, 92, 245), rgb(22, 20, 20));
}
li.dropdown {
  display: inline-block;
}

nl {
  float: left;
}