extends layout
block content
    - console.log(data)
    .main-content
    div.list All Applications
    div.All-Applications
        table(border=1)
            tr 
                th Applicant ID 
                th Applicant Name 
            tr 
                for item in data
                    tr
                        td #{item.U_ID}
                        td
                            a(href='/applicant/' + item.U_ID) #{item.Name}
    