extends layout 
block content

    header.style1 Application Details |(Future Development) 
     link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Trirong')

    //h1 All Details
            a.btn(href='/application_details')

    //Application details concept page display through CSS
    .application_details