<html>
<title>Profile Page</title>
   <h1 style="text-align:center;">My Profile</h1>
<body>
   <div class="container">
      <div class="image">
         <img scr='/images/.png' width="200" height="200" style="vertical-align:down;margin:50px 50px"></p>
      </div> <style type="text/css">
      h1 {
          border-color:
      }