extends layout
block content
    h1 recruitmenTRACKER
        div.logo
    div.p1 Track & Record Your Recruitment Journey.
    div.p2 Recruitment Journey Planner

    div.p3
        a.btn(href='/login') Log In
    div.p4
        a.btn(href='/register') Register
    
    div.p5 Already Have An Account?

    div.p6 Don't Have An Account?
