html
   title Profile Page
   <h1 style="text-align:center;">My Profile</h1>

<body>
   <div class="image">
      img(src='/images/vicky.png' width='200px' height='200px' style="vertical-align:down;margin=100px 100px")
   </div>
   <div class="text" style="text-align:center;" style="vertical-align:up;margin:50px 50px">

      <p style="height:20px; width:100px; border-color:lightblue; border:3px; background-color:lightblue; text-align:center; vertical-align:up;margin:50px 50px"><b> Vicky </b></p>

select(name="contents")
            option(value=1) Applications
            option(value=2) Journal

div.contents
            <a href =""> Applications</a>
            <a href ="">Journal</a>

</body>
</html>