extends layout
block content

    header.style1 My Journal (Future Development)
     link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Trirong')

    div.p7 (Create a link to add new feedback according to date and specific application)
            a.btn(href='/journal') + Add New Feedback To Your Journal 

    - console.log(data)
    div.All-Applications
        table.tbl-style(border=3)
            tr 
                th Day Of Week
                th Application No.
                th I_Notes 
                th Feedback 
            tr 

