extends layout
block content

    header.style1 Log In To Your Existing Account 
     link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Trirong')

    //Asking user to fill the required fields.
    script.
        function validateForm() {
        var x = document.forms["email"]["password"].value;
        if (x == "" || x == null) {
        alert("Email or Password is missing.");
        return false;
        }
        }

    //Login with authentication.
    h11 
        form(action='/authenticate' onsubmit='return validateForm()' method='POST')
                div    
                 | Email: 
                 input(type="text",name="email",value='')
                 |  Password: 
                 input(type="text",name="password",value='')
                input(type="submit", value="Log In")
                .email 
                    a(href='#') Forgot password?