extends layout
block content
    header Log In To Your Existing Account
    h7 
        form(action='/authenticate' method='POST')
            label(for='email') Enter Your Email: 
            input('name'='email')
    h8
            label(for='email') Enter Your Password: 
            input('name'='password')
            input(type='submit' value='Submit')