extends layout
block content
    header Log In To Your Existing Account
    h7 
        form(action='/authenticate' method='POST')
                p 
                 | Email: 
                 input(type="text",name="email",value='')
                 |  Password: 
                 input(type="text",name="password",value='')
                input(type="submit", value="Submit")