extends layout 
block content 
    header.style1 Add a New Job Application Entry
     link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Trirong')

    h12  
        form.newentry(action='/newentry' method='POST')    
                tr
                    | Please enter the name of the company:
                    //label(for='Company_Name')  
                    input('name'='Company_Name')
                tr 
                    | Please enter the job title: 
                    //label(for='Job_Title') 
                    input('name'='Job_Title')
                tr 
                    | Please enter the work location:
                    //label(for='Location') 
                    input('name'='Location')
                tr
                    | Select the application status:
                    //label(for='Status')  
                    select#status('name'='Status')
                     option Choose Current status
                     option(value='Submitted') Submitted
                     option(value='Under Consideration') Under Consideration
                     option(value='Initial Interview Call Recieved') Initial Interview Call Recieved
                     option(value='Second Interview Call Recieved') Second Interview Call Recieved
                     option(value='Waiting for Interview Outcome') Waiting for Interview Outcome
                tr 
                    | Add the date you submitted the application:
                    //label(for='SubmissionDate')  
                    input(type='date', name ='SubmissionDate')
                tr 
                    | Add the date you last had any interaction with the recruiter:
                    //label(for='LastUpdate')  
                    input(type='date', name ='LastUpdate')
                tr 
                    //file upload button
                    | Documents
                    label(for='actual-btn') 
                    input#actual-btn(type='file') 
                input(type='submit' value='Submit')