extends layout 
block content

    header.style1 Profile Page
     link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Trirong')

    //h1 #{user.Name}  
    //div.p1 Click on the "Choose File" button to upload a file:
    //img(src= user.image_path width='200px' height='360px')
    form.profilepic(action='/profile_photo' method='POST')
            div.p1 
             input#myFile(type='file' name='filename')
            input(type='submit')

    div.dropdown 
        div.dropbtn Select to View
        div.dropdown-content 
            a.dropdown-content(href='/all-applications/'+data) Applications
            a.dropdown-content(href='/journal') Journal

    div.p3 Calender View
