extends layout 
block content
    head 
    title= "Profile Page"

    body 
    h1 #{user.Name}
        
    p Click on the "Choose File" button to upload a file:
    img(src='/images/.png' width='200px' height='360px')
    form(action='/profile_photo' method='POST')
        input#myFile(type='file' name='filename')
       input(type='submit')

    h2 Select to View
        select(name="view_all")
            option(value=1) Select
            option(value=2) Applications
            option(value=3) Journal
    h3 Calender 