html 
<div class="container">
   <h1 style="text-align:center;">My Profile</h1>
   //<a href="https://imgbb.com/">
   <div>
   <p style="float: left;"><img src="vicky.png" width="200" height="200" border="1px"/></p>
   //<h2 style="text-align:center;">About Me</h2>
   <p style="text-align:center;">Hi, I'm Vicky, I have a huge passion for web-development and maths. I love to teach and thrive from challenges.</p>
  
  style="height:20px; width:100px; colour:blue; border:3px; background-colour:blue; text-align:center; vertical-align:up;margin:50px 50px"
  
  //style="text-align:center;" style="vertical-align:up;margin:50px 50px"

  style="float:middle;" style="horizontal-align:down;margin:50px 50px"
  
   <h4>Subjects</h4>
   <div class="listFlex">
         <ul style="text-align:center;">
            <li>Maths</li>
            <li>English</li>
            <li>Python</li>
         </ul>
   <div class="dropdown">
  <button>Subjects</button>
  <div class="Subjects">
  <a href="https://blog.hubspot.com/">Blog</a>
  <a href="https://academy.hubspot.com/">Academy</a>
  <a href="https://www.youtube.com/user/hubspot">YouTube</a>
  </div>
         </div>
         <div>
         <ul style="text-align:center;">
            <li>JavaScript</li>
            <li>JQuery</li>
            <li>C#</li>
         </ul>
         </div>
   </div>
   <h4>Social Media</h4>
   Catch me on Twitter - <a href="https://twitter.com/DanEnglishby">@DanEnglishby</a>
</div>