extends layout2
block content

    header2
        ul
            li
                a(href='/logout') Log Out
            li
                a(href='/notifications') Notifications 🔔
            li.dropdown
                a.dropbtn(href='javascript:void(0)') Profile Content
                .dropdown-content
                 a(href='/all-applications/'+data) All Applications
                 a(href='/journal') Feedback Journal
            li 
                <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
            li.homebtn 
                a.hbtn(href='/homepage' class="fa fa-home")  

    body
        h1.style1 Profile Page
         link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Trirong')

        //div #{User.Name}
        .profilepic.row
            img.rounded-circle.mt-5(width='150px' src='https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg')
                
        h2.dropdown 
            p.dropbtn Select to Add New 🖊️ 
            .dropdown-content 
             a(href='/all-applications/'+data) Applications
             a(href='/journal') Feedback Journal

        h3 Get Started👆