extends layout
block content
    header Register here
    h7      
        form(action='/set-password' method='POST') 
            label(for='email') Enter Your Email: 
            input('name'='email') 
            label(for='Name') Enter Your Name: 
            input('name'='Name')    
            label(for='email') Enter Your Password: 
            input('name'='password')
            input(type='submit' value='Submit')