extends layout
block content
    header Register here

        form(action='/set_password' method='POST') 
                h7  
                 | Register with your Email: 
                 input(type="text",name="email",value='')
                h8
                 | Username: 
                 input(type="text",name="name",value='')
                h9
                 | Password: 
                 input(type="text",name="password",value='')
                input.rbtn(type="submit", value="Submit")