extends layout
block content

    header.style1 Register Here
     link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Trirong')
     
    h11 
        form(action='/set_password' method='POST') 
                div  
                 | Register with your Email: 
                 input(type="text",name="email",value='')
                 | Username: 
                 input(type="text",name="name",value='')
                 | Password: 
                 input(type="text",name="password",value='')
                input.rbtn(type="submit", value="Register")