extends layout
block content
    header Register here
    h7      
        form(action='/set-password' method='POST') 
            label(for='email') Enter Your Email: 
            input('name'='email')
    h8 
            label(for='Name') Enter Your Name: 
            input('name'='Name')    
    h9 
            label(for='email') Enter Your Password: 
            input('name'='password')
    h10
            input(type='submit' value='Submit')