
//Still working on it


//Search bar for the application to search specific information
.search   
.min-h-screen.bg-gray-100.flex.flex-col.justify-center
  .relative.p-12.w-full(class='sm:max-w-2xl sm:mx-auto')
    .overflow-hidden.z-0.rounded-full.relative.p-3
      form.relative.flex.z-50.bg-white.rounded-full(role='form')
        input.rounded-full.flex-1.px-6.py-4.text-gray-700(type='text' placeholder='enter your search here' class='focus:outline-none')
        button.bg-indigo-500.text-white.rounded-full.font-semibold.px-8.py-4(class='hover:bg-indigo-400 focus:bg-indigo-600 focus:outline-none') Search
      .glow.glow-1.z-10.bg-pink-400.absolute
      .glow.glow-2.z-20.bg-purple-400.absolute
      .glow.glow-3.z-30.bg-yellow-400.absolute
      .glow.glow-4.z-40.bg-blue-400.absolute